<h2>Exercício 1: Uso Básico do switch</h2>
<label for="seletor-mes">Insira um mês: </label>
<input id="seletor-mes" type="number" (change)="trocarMes($event)">

@switch (mes) {
@case (1) {
<p>Janeiro</p>
}
@case (2) {
<p>Fevereiro</p>
}
@case (3) {
<p>Março</p>
}
@case (4) {
<p>Abril</p>
}
@case (5){
<p>Maio</p>
}
@case (6) {
<p>Junho</p>
}
@case (7) {
<p>Julho</p>
}
@case (8) {
<p>Agosto</p>
}
@case (9) {
<p>Setembro</p>
}
@case (10) {
<p>Outubro</p>
}
@case (11) {
<p>Novembro</p>
}
@case (12) {
<p>Dezembro</p>
}
@default {
<p>Mês não encontrado</p>
}
}

<hr>

<h2>Exercício 2: Lista Dinâmica com for </h2>

<ul>
    @for(item of itens; track $index){
    <li>{{item}} - {{ $index }}</li>
    } @empty {
    <li>Nenhum item na lista </li>
    }
</ul>

<hr>

<h2>Exercício 3: Condicional com if e else</h2>

<label for="seletor-idade">Insira uma idade: </label>
<input id="seletor-idade" type="number" (change)="trocarIdade($event)">

@if(idade >= 18){
    <p class="color-green">Acesso permitido</p>
} @else {
    <p class="color-red">Acesso negado</p>
}

<hr>

<h2> Exercício 4: Lista com Ações Dinâmicas</h2>

<ul>
    @for(tarefa of tarefas; track $index){
        <li>{{tarefa}}
        <button (click)="removerTarefa( $index )">Remover Tarefa</button>
    </li>
    } @empty {
        <p>Nenhuma tarefa na lista</p>
    }

</ul>